<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <title>Week Challenge - about</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>About</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">Some inf. here dew 0sajj ieja mgnr nkfn nfefneune njgkrpant sntnak
                feifje n neken niefunj ads ngjn, daekk  kefaok. </div>
                <div class="col-md-8">
                    And some information here. And some information here. And some information here.
                    And some information here. And some information here. And some information here.
                    And some information here. And some information here. And some information here.
                    And some information here. And some information here. And some information here.
                    And some information here. And some information here. And some information here.
                    And some information here.
                </div>
            </div>

        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'WeekChallenge/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>