<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <title>Week Challenges - Add challenges</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Add challenges</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Recommend new challenges</h3>
                    <form class="form-add" action="/add_challenge/" method="POST">

                        {% csrf_token %}
                        {{ add_form }}

                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                    </form>
                </div>

                <div class="col-md-6">
                    <h3>Example</h3><br>
                    <div class="well">
                        <i>This week challenge is..</i>
                        <center><h4><b>Challenge title/name</b></h4></center>
                        <p></p>
                        <br>
                        <div class="well">
                            <b>Challenge description. Challenge description. Challenge description.
                                Challenge description.</b>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'WeekChallenge/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>