<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <title>Week Challenges - Check challenges</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">

            <h1>Check challenges</h1>
            <div class="row">
                <div class="col-md-12">
                <h3>This week</h3>
                    <div class="panel panel-default">
                        <table class="table">
                            <tr><td><b>Title</b></td><td><b>User</b></td><td><b>State</b></td><td><b>Date</b></td><td><b>Delete</b></td></tr>
                            {% for this in this_week %}
                                <tr>
                                    <td>{{ this }}</td>
                                    <td>{{ this.username }}</td>
                                    <td>{{ this.state }}</td>
                                    <td>{{ this.date }}</td>
                                    <td>
                                        <a href="/decline_challenge/{{ accepted.id }}">
                                            <button class="btn btn-default">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <h3>Need checking (random 10)</h3>
                    <div class="panel panel-default">
                        <table class="table">
                            <tr><td><b>Title</b></td><td><b>Details</b></td><td><b>User</b></td><td><b>State</b></td><td><b>Action</b></td></tr>
                            {% for challenge in challenge_list %}
                                <tr>
                                    <td>{{ challenge }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                                data-target="#editModal"
                                                data-tiitel="{{ challenge }}"
                                                data-desc="{{ challenge.description }}"
                                                data-username="{{ challenge.username }}"
                                                data-state="{{ challenge.state }}"
                                                data-date="{{ challenge.date }}"
                                                >Details</button>

                                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="editModalLabel">Title</h4>
                                              </div>
                                              <div class="modal-body">

                                                    <label for="recipient-name" class="control-label">Title:</label>
                                                    <p class="modal-title" id="editModalLabel">Title</p>
                                                  <br>
                                                    <label for="message-text" class="control-label">Description:</label>
                                                    <p class="modal-desc" id="editModalLabel">Description</p>
                                                  <br>
                                                    <label for="message-text" class="control-label">Username:</label>
                                                    <p class="modal-username" id="editModalLabel">Username</p>

                                                    <label for="message-text" class="control-label">State:</label>
                                                    <p class="modal-state" id="editModalLabel">State</p>

                                                    <label for="message-text" class="control-label">Date:</label>
                                                    <p class="modal-date" id="editModalLabel">Date</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                    </td>
                                    <td>{{ challenge.username }}</td>
                                    <td>{{ challenge.state }}</td>
                                    <td>
                                        <a href="/accept_challenge/{{ challenge.id }}">
                                            <button class="btn btn-default">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </a>
                                        <a href="/decline_challenge/{{ challenge.id }}">
                                            <button class="btn btn-default">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>


                <div class="col-md-6">
                    <h3>Accepted challenges (next 10)</h3>
                    <div class="panel panel-default">
                        <table class="table">
                            <tr><td><b>Title</b></td><td><b>User</b></td><td><b>State</b></td><td><b>Action</b></td></tr>
                            {% for accepted in accepted_list %}
                                <tr>
                                    <td>{{ accepted }}</td>
                                    <td>{{ accepted.username }}</td>
                                    <td>{{ accepted.state }}</td>
                                    <td>
                                        <a href="/decline_challenge/{{ accepted.id }}">
                                            <button class="btn btn-default">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </a>
                                        <a href="/up_challenge/{{ accepted.id }}">
                                            <button class="btn btn-default">
                                                <span class="glyphicon glyphicon-arrow-up"></span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div> <!-- End of row (2 lists, both md-6) -->

            <div class="row">
                <div class="col-md-12">
                    <h3>Challenge history</h3>

                    <div class="panel panel-default">
                        <table class="table">
                            <tr><td><b>Title</b></td><td><b>User</b></td><td><b>Date</b></td><td><b>State</b></td></tr>
                            {% for history in history_list %}
                                <tr>
                                    <td>{{ history }}</td>
                                    <td>{{ history.username }}</td>
                                    <td>{{ history.date }}</td>
                                    <td>{{ history.state }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'WeekChallenge/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var recipient = button.data('tiitel');
          var desc = button.data('desc');
          var username = button.data('username');
          var state = button.data('state');
          var date = button.data('date');

          var modal = $(this);
          modal.find('.modal-title').text(recipient);
          modal.find('.modal-desc').text(desc);
          modal.find('.modal-username').text(username);
          modal.find('.modal-state').text(state);
          modal.find('.modal-date').text(date);
        })
   </script>
</body>
</html>