<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}

    <title>Week Challenges</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>This week challenge is..</h3>
                        <center>
                            <h1>{{ c.title }}</h1>
                        </center>
                        <br>
                        <i>
                            <div class="well">
                                {{ c.description }}
                            </div>
                        </i>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-9">
                        <h4><b>{{ c.accept_count }}</b> users accepted this challenge.</h4>
                        <h4><b>0</b> active users. <small> - soon..</small></h4>
                    </div>
                    <div class="col-md-3">
                        {% if user.is_authenticated %}
                            {% if is_accepted %}
                                <button type="button" class="btn btn-primary btn-lg" disabled="disabled">Accepted</button>
                            {% else %}
                                <a href="/user_accept_challenge" class="btn btn-primary btn-lg">Accept this challenge!</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            <div class="row">
                <div class="col-md-4">
                        <h3>Why?</h3>
                        <p>Make your life more interesting and memorable. and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s
                        </p>

                </div>
                <div class="col-md-4">
                       <h3>Who?</h3>
                        <p>It's all about you! and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s </p>

                </div>
                <div class="col-md-4">
                        <h3>When?</h3>
                        <p>New challenges every week! and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s and some asdoke mnif mkms mkkeia jxts asd s
                            and some asdoke mnif mkms mkkeia jxts asd s </p>
                </div>
            </div>

            {% if user.is_authenticated %}


            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <a href="/register" class="btn btn-primary btn-lg">Join now!</a>

                            <br><br>
                            <p>To recommend new challenges.</p>
                            <p>To track your challenges.</p>

                        </center>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'WeekChallenge/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>