<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <title>Week Challenge</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">
            <div class="col-md-12">
                <h3>This week challenge is..</h3>
                <center>
                    <h1>Some challenge!</h1>
                </center>
                <br>
                And some descr. And some descr. And some descr. And some descr. And some descr. And some descr.
                And some descr. And some descr. And some descr. And some descr. And some descr. And some descr.
                And some descr. And some descr. And some descr. And some descr. And some descr. And some descr.
                And some descr. And some descr. And some descr. And some descr.
            </div>

            <div class="col-md-4">
                <center>
                    <h3>Why?</h3>
                    Make your life more interesting and memorable.
                </center>
            </div>
            <div class="col-md-4">
                <center>
                   <h3>Who?</h3>
                    It's all about you!
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <h3>When?</h3>
                    New challenges every week!
                </center>
            </div>
        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>