<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <title>Week Challenges - notifications</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Notifications & friend requests</h3>
                    <div class="list-group">
                        {% if friend_requests %}
                            {% for friend in friend_requests %}

                                <li class="list-group-item list-group-item-success">
                                    {% for f in find_friends %}
                                        {% if f.id == friend.user_from %}
                                            <p>{{ f.username }} has added you as a friend.</p>
                                        {% endif %}
                                    {% endfor %}
                                    <a href="/accept_friend/{{ friend.user_from }}">
                                        <button class="btn btn-success btn-sm">
                                            Accept
                                        </button>
                                    </a>
                                    <a href="/decline_friend/{{ friend.user_from }}">
                                        <button class="btn btn-danger btn-sm">
                                            Decline
                                        </button>
                                    </a>
                                </li>

                            {% endfor %}
                        {% endif %}

                        {% if all_notifications %}
                            {% for notification in all_notifications %}

                                {% if notification.new %}
                                    <li class="list-group-item list-group-item-success">
                                    {% else %}
                                    <li class="list-group-item list-group-item-info">
                                    {% endif %}
                                        <a href="/delete_notification/{{ notification.id }}">
                                            <button type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </a>

                                        <p>{{ notification.title }}</p>

                                        {% if notification.new %}
                                                <a href="/mark_read/{{ notification.id }}">
                                                    <button class="btn btn-primary btn-xs">
                                                        Mark as read
                                                    </button>
                                                </a>
                                        {% else %}
                                            <a href="/mark_unread/{{ notification.id }}">
                                                <button class="btn btn-default btn-xs">
                                                    Mark as unread
                                                </button>
                                            </a>
                                        {% endif %}
                                    </li>

                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger" role="alert">No notifications.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-8">
                    <h3>Private messages</h3>
                    <div class="list-group">
                    {% for message in all_messages %}

                        {% if message.new %}
                            <li class="list-group-item list-group-item-success">
                            {% elif not message.new %}
                            <li class="list-group-item list-group-item-info">
                        {% else %}

                        {% endif %}

                                <a href="/delete_pm/{{ message.id }}">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </a>

                                <h4>{{ message.title }}</h4>

                                {{ message.content }}

                                <span style="float:right">
                                    {% for f in find_friends %}
                                        {% if f.id == message.user_from %}
                                            <i>from {{ f.username }} -</i>
                                            <a href="/reply/{{ f.id }}">Reply</a>

                                        {% endif %}
                                    {% endfor %}
                                </span>

                            <br>
                                {% if message.new %}
                                    <a href="/mark_read_pm/{{ message.id }}">
                                        <button class="btn btn-primary btn-xs">
                                            Mark as read
                                        </button>
                                    </a>
                                {% else %}
                                    <a href="/mark_unread_pm/{{ message.id }}">
                                        <button class="btn btn-default btn-xs">
                                            Mark as unread
                                        </button>
                                    </a>
                                {% endif %}
                            </li>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'WeekChallenge/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>