<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <title>Week Challenges - {{ user.username }}'s profile</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img class="img-thumbnail" src="{% static 'WeekChallenge/img/no-avatar.png' %}" alt="" width="150px" height="200px">
                </div>
            <div class="col-md-3 col-sm-4 col-xs-8">
                <h3><b>{{ user_name.username }}'s</b>&nbsp;profile</h3>
                    {% if user_name.is_staff %}
                         <h4><span style="color: #eb9316;"><span class="glyphicon glyphicon-ok"></span> Admin</span></h4>
                    {% endif %}

                    <table border="0" class="profile-table">
                        <tr>
                            <td>
                                {% if not its_you %}
                                    {% if not already_friends %}
                                        {% if not request_sent %}
                                            <a href="/add_friend/{{ user_name.id }}">
                                                <button class="btn btn-success btn-sm">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    Add friend
                                                </button>
                                            </a>
                                        {% else %}
                                            <a href="#">
                                                <button class="btn btn-info btn-sm" disabled="disabled">
                                                    Request sent!
                                                </button>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="/remove_friend/{{ user_name.id }}">
                                            <button class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-minus"></span>
                                                Remove friend
                                            </button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="/settings/">
                                        <button class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-cog"></span>
                                            Settings
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/friendlist/{{ user_name.id }}">
                                    <button class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-sunglasses"></span>
                                        Friends
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/report/{{ user_name.id }}">
                                    <button class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-warning-sign"></span>
                                        Report
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>

            </div>
            <div class="col-md-7 col-sm-5 col-xs-12">
                {% if alert %}
                    {% if alert == 'message_sent' %}
                        <div class="alert alert-success" role="alert">
                            Message sent!
                        </div>
                    {% endif %}
                {% endif %}

                <h3>Private message to {{ user_name.username }} {% if its_you %}(to yourself){% endif %}</h3>
                    <form class="form-pm" action="/send_pm/" method="POST">
                        {% csrf_token %}
                        {{ message_form }}
                        <input type="hidden" name="pm_id" value="{{ user_name.id }}">
                        <span style="float: right"><input class="btn btn-primary" type="submit" value="Send"></span>
                    </form>
            </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <h3>User&nbsp;information</h3>
                    <table border="0">
                        <tr><td><b>Username:</b></td><td>{{ user_name.username }}</td></tr>
                        <tr><td><b>First&nbsp;name:</b></td><td>{{ user_name.first_name }}</td></tr>
                        <tr><td><b>Last&nbsp;name:</b></td><td>{{ user_name.last_name }}</td></tr>
                        <tr><td><b>Email:</b></td><td>{{ user_name.email }}</td></tr>
                        <tr><td><b>Bio:</b></td><td>{{ user_name.userprofile.bio }}</td></tr>
                    </table>

                    <table border="0">
                        <tr><td><h3>Stats</h3></td></tr>
                        <tr><td><b>Level:</b></td><td>0</td></tr>
                        <tr><td><b>Points:</b></td><td>0</td></tr>
                        <tr><td><b>Challenges accepted:</b></td><td>0</td></tr>
                        <tr><td><b>Challenges in a row:</b></td><td>0</td></tr>
                    </table>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h3>Accepted challenges</h3>
                        {% if not no_accepted %}
                            <div class="panel panel-default">
                                <table class="table">
                                    <tr><td><b>Title</b></td><td><b>Challenge date</b></td></tr>
                                    {% for c in ch %}
                                        {% for challenge in challenges %}
                                            {% if c.challenge_id == challenge.id %}
                                                <tr>
                                                    <td>{{ challenge.title }}</td>
                                                    <td>{{ c.date }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">No challenges to show!</div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'WeekChallenge/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>