<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <title>Week Challenges - search users</title>

    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WeekChallenge/css/style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "WeekChallenge/base/navigation_bar.html" %}

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Search users</h3>
                </div>
                <div class="col-md-8">
                    <h3>Results
                        {% if search_count %}
                            {% if search_count < 50 %}
                                - {{ search_count }}
                            {% else %}
                                - {{ search_count }} (showing first 50)
                            {% endif %}
                        {% endif %}
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <form class="form-search" action="/search/" method="POST">

                    {% csrf_token %}
                    {{ search_form }}

                    <input class="btn btn-lg btn-primary" type="submit" value="Search">
                </form>

                </div>
                <div class="col-md-8">
                    {% if not search_count and search_count != 0%}
                        <div class="alert alert-success" role="alert"><-- Search something first.</div>
                    {% else %}
                        {% if search_count == 0 %}
                            <div class="alert alert-danger" role="alert">No results!</div>
                        {% endif %}
                        {% for result in search_results %}
                            <div class="well">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="{% static 'WeekChallenge/img/testavatar.jpg' %}" alt="" width="150px" height="200px">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="/profile/{{ result.username }}">{{ result.username }}</a>
                                        {% if result.is_staff %}
                                            <span style="color: #eb9316;">
                                                <span class="glyphicon glyphicon-ok"></span>
                                                Admin
                                            </span>
                                        {% endif %}
                                    </h4>
                                        <b>First name:</b> {{ result.first_name }} <br>
                                        <b>Last name:</b> {{ result.last_name }}<br>
                                        <b>Email:</b> {{ result.email }}<br>
                                        <b>Bio:</b> <i>aosdkao wkoda ekmf wkfm oeamf aekf ewkjf kwjefn kse nwekfnwkj enwek wekj nkwjen kj.</i>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>


    {% include "WeekChallenge/base/foot.html" %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'WeekChallenge/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>